<!-- banner title -->
<div class="banner-title">
  <h1 class="mb-1">{{restaurant.name}}</h1>
</div>

<div class="container my-5">
  <form action="/restaurants/{{restaurant.id}}" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">餐廳中文名稱</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="麥克咖啡" value="{{restaurant.name}}"
          required>
      </div>
      <div class="form-group col-md-6">
        <label for="eng-name">餐廳英文名稱</label>
        <input type="text" class="form-control" id="eng-name" name="name_en" value="{{restaurant.name_en}}"
          placeholder="Mike Cafe">
      </div>
    </div>
    <div class="form-group">
      <label for="location">餐廳地址</label>
      <input type="text" class="form-control" id="location" name="location" value="{{restaurant.location}}"
        placeholder="台北市大安區仁愛路一段一號" required>
    </div>
    <div class="form-group">
      <label for="map-link">Google Map 連結</label>
      <input type="text" class="form-control" id="map-link" name="google_map" value="{{restaurant.google_map}}"
        placeholder="https://goo.gl/maps/BJdmLuVdDbw">
    </div>
    <div class="form-group">
      <label for="phone">電話號碼</label>
      <input type="text" class="form-control" id="phone" name="phone" value="{{restaurant.phone}}"
        placeholder="02 2363 8009" required>
    </div>
    <div class="form-row mb-4">
      <div class="form-group col-md-4">
        <label for="category">餐廳類別</label>
        <select id="category" name="category" class="form-control" required>
          <option value="">Choose...</option>
          <option value="中東料理" {{isSelected restaurant.category '中東料理'}}>中東料理</option>
          <option value="日本料理" {{isSelected restaurant.category '日本料理'}}>日本料理</option>
          <option value="義式餐廳" {{isSelected restaurant.category '義式餐廳'}}>義式餐廳</option>
          <option value="美式" {{isSelected restaurant.category '美式'}}>美式</option>
          <option value="法式料理" {{isSelected restaurant.category '法式料理'}}>法式料理</option>
          <option value="韓式料理" {{isSelected restaurant.category '韓式料理'}}>韓式料理</option>
          <option value="中式料理" {{isSelected restaurant.category '中式料理'}}>中式料理</option>
          <option value="港式料理" {{isSelected restaurant.category '港式料理'}}>港式料理</option>
          <option value="主題餐廳" {{isSelected restaurant.category '主題餐廳'}}>主題餐廳</option>
          <option value="酒吧" {{isSelected restaurant.category '酒吧'}}>酒吧</option>
          <option value="咖啡" {{isSelected restaurant.category '咖啡'}}>咖啡</option>
          <option value="其他" {{isSelected restaurant.category '其他'}}>其他</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="rating">整體評價</label>
        <input type="number" class="form-control" id="rating" name="rating" min="0.0" max="5.0" step="0.1"
          value="{{restaurant.rating}}" required>
      </div>
      <div class="form-group col-md-4">
        <label for="image">照片連結</label>
        <input type="text" class="form-control" id="image" name="image" value="{{restaurant.image}}"
          placeholder="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5634/08.jpg">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">送出表單</button>
    <a class="btn btn-danger" href="/" role="button">放棄返回</a>
  </form>
</div>

{{!-- 
name / eng name
location
google map
phone
category / rating / image
 --}}