<!-- banner title -->
<div class="banner-title">
  <h1 class="mb-1">{{restaurant.name}}</h1>
</div>

<div class="container my-5 restaurant-form">
  <form action="/restaurants/{{restaurant.id}}?_method=PUT" method="POST">
    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="name">餐廳中文名稱</label>
        <input type="text" class="form-control {{validate validateResult.name}}" id="name" name="name"
          placeholder="麥克咖啡" value="{{restaurant.name}}">
        <div class="valid-feedback">
          準備好囉!
        </div>
        <div class="invalid-feedback">
          名字必填喔！
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="eng-name">餐廳英文名稱</label>
        <input type="text" class="form-control {{validate validateResult.name_en}}" id="eng-name" name="name_en"
          value="{{restaurant.name_en}}" placeholder="Mike Cafe">
        <div class="valid-feedback">
          準備好囉!（非必填）
        </div>
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="location">餐廳地址</label>
      <input type="text" class="form-control {{validate validateResult.location}}" id="location" name="location"
        value="{{restaurant.location}}" placeholder="台北市大安區仁愛路一段一號">
      <div class="valid-feedback">
        準備好囉!
      </div>
      <div class="invalid-feedback">
        地址必填喔！
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="map-link">Google Map 連結</label>
      <input type="text" class="form-control {{validate validateResult.google_map}}" id="map-link" name="google_map"
        value="{{restaurant.google_map}}" placeholder="https://goo.gl/maps/BJdmLuVdDbw">
      <div class="valid-feedback">
        準備好囉!（非必填）
      </div>
      <div class="invalid-feedback">
        輸入格式有誤，需要為 http:// 或 https:// 開頭的連結喔！
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="phone">電話號碼</label>
      <input type="text" class="form-control {{validate validateResult.phone}}" id="phone" name="phone"
        value="{{restaurant.phone}}" placeholder="02 2363 8009">
      <div class="valid-feedback">
        準備好囉!
      </div>
      <div class="invalid-feedback">
        輸入格式有誤，是不是忘了加空格或區碼了？範例：02 2222 2222
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="form-group col-md-4">
        <label for="category">餐廳類別</label>
        <select id="category" name="category" class="text-black-50 form-control {{validate validateResult.category}}">
          <option value="">Choose...</option>
          <option value="中東料理" {{isSelected restaurant.category '中東料理'}}>中東料理</option>
          <option value="日本料理" {{isSelected restaurant.category '日本料理'}}>日本料理</option>
          <option value="義式餐廳" {{isSelected restaurant.category '義式餐廳'}}>義式餐廳</option>
          <option value="美式" {{isSelected restaurant.category '美式'}}>美式</option>
          <option value="法式料理" {{isSelected restaurant.category '法式料理'}}>法式料理</option>
          <option value="韓式料理" {{isSelected restaurant.category '韓式料理'}}>韓式料理</option>
          <option value="中式料理" {{isSelected restaurant.category '中式料理'}}>中式料理</option>
          <option value="港式料理" {{isSelected restaurant.category '港式料理'}}>港式料理</option>
          <option value="主題餐廳" {{isSelected restaurant.category '主題餐廳'}}>主題餐廳</option>
          <option value="酒吧" {{isSelected restaurant.category '酒吧'}}>酒吧</option>
          <option value="咖啡" {{isSelected restaurant.category '咖啡'}}>咖啡</option>
          <option value="其他" {{isSelected restaurant.category '其他'}}>其他</option>
        </select>
        <div class="valid-feedback">
          準備好囉!
        </div>
        <div class="invalid-feedback">
          請選擇一種類型餐廳類型
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="rating">整體評價</label>
        <input type="number" class="form-control {{validate validateResult.rating}}" id="rating" name="rating"
          step="0.1" value="{{restaurant.rating}}">
        <div class="valid-feedback">
          準備好囉!
        </div>
        <div class="invalid-feedback">
          輸入格式有誤，最低評價： 0 / 最高評價：5
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="image">照片連結</label>
        <input type="text" class="form-control {{validate validateResult.image}}" id="image" name="image"
          value="{{restaurant.image}}"
          placeholder="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5634/08.jpg">
        <div class="valid-feedback">
          準備好囉!（非必填）
        </div>
        <div class="invalid-feedback">
          輸入格式有誤，需要為 http:// 或 https:// 開頭的連結喔！
        </div>
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="description">餐廳簡介</label>
      <textarea name="description" id="description" class="form-control {{validate validateResult.description}}"
        cols="30" rows="3" placeholder="一間專門提供想轉職的工程師待一整天寫 code 和聚會的咖啡廳：快速的無線網路、超多插座、24 / 7、隨時播放 Big Bang Theory 影集..."
        axlength="100">{{restaurant.description}}</textarea>
      <div class="valid-feedback">
        準備好囉!（非必填）
      </div>
      <div class="invalid-feedback">
        格式有誤喔！
      </div>
    </div>
    <button type="submit" class="btn btn-primary">送出表單</button>
    <a class="btn btn-danger" href="/" role="button">放棄返回</a>
  </form>
</div>